<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>CentroBelleza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PersonasServlet</servlet-name>
    <servlet-class>controlador.PersonasServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiciosServlet</servlet-name>
    <servlet-class>controlador.ServiciosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonasEditarServlet</servlet-name>
    <servlet-class>controlador.PersonasEditarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonasModificarServlet</servlet-name>
    <servlet-class>controlador.PersonasModificarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiciosModificarServlet</servlet-name>
    <servlet-class>controlador.ServiciosModificarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonasServlet</servlet-name>
    <url-pattern>/PersonasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosServlet</servlet-name>
    <url-pattern>/ServiciosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonasEditarServlet</servlet-name>
    <url-pattern>/PersonasEditarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonasModificarServlet</servlet-name>
    <url-pattern>/PersonasModificarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosModificarServlet</servlet-name>
    <url-pattern>/ServiciosModificarServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>ServiciosEditarServlet</servlet-name>
    <servlet-class>controlador.ServiciosEditarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiciosEditarServlet</servlet-name>
    <url-pattern>/ServiciosEditarServlet</url-pattern>
  </servlet-mapping>
</web-app>